.table {
  display: table;
  margin: 1rem 0;
}

.tr {
  display: table-row;
}

.tdLeft,
.tdRight {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0.5rem;
}

.tdLeft {
  text-align: right;
}

.tdRight {
  padding-left: 0.5rem;
}
