.table {
  display: table;
}

.tr {
  display: table-row;
}

.tdLeft,
.tdRight {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0.5rem;
}

.tdLeft {
  text-align: right;
}

.tdRight {
  padding-left: 0.5rem;
}

.value {
  display: inline-block;
  color: var(--color---);
  min-width: 2rem;
  text-align: right;
  padding-right: 0.5rem;
}
