.debug {
  display: table;
}

.row {
  display: table-row;

  div {
    display: table-cell;
    text-align: right;
  }

  div.value {
    color: var(--color---);
    padding: 0 0.25rem 0.5rem 0.5rem;
    min-width: 2rem;
  }
}
