.table {
  display: table;
  padding: 1rem;
}

.tr {
  display: table-row;
}

.tdLeft,
.tdRight {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0.5rem;
}

.tr:last-child .tdLeft,
.tr:last-child .tdRight {
  padding-bottom: 0;
}

.tdLeft {
  text-align: right;

  &:after {
    content: '...';
  }
}

.tdMiddle {
  text-align: left;
  padding-left: 0.5rem;
}

.tdRight {
  padding-left: 0.5rem;
}
